*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background:linear-gradient(2deg, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 100%);
}

.game-info{
    width: max-content;
    color: white;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255,255,255,0.25);
    padding: 0.5rem 3rem;
}

.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255,255,255,0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255,255,255,0.25);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
}

.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1{
    border-right: 2px solid white;
}

.box2{
    border-right:2px solid white ;
}

.box4{
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.box5{
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.box6{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.box7{
    border-right: 2px solid white;
}

.box8{
    border-right:2px solid white ;
}

.btn{
    cursor: pointer;
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255,255,255,0.25);
    padding: 0.5rem 2rem;
    display: none;
}

.btn.active{
    display: flex;
}

.win{
    background-color: greenyellow;
}
